@import (reference) '@/styles/mixins/breakpoints.less';
.wrap {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: var(--space-lg);
  min-height: 60px;
  padding: 0;
}

@media (max-width: @breakpoint-md) {
  .wrap {
    justify-content: flex-start;
  }
}
