@import '@/styles/scrollbar.module.less';

.modalContent {
  max-height: 70vh;
  overflow-y: scroll;
  padding-right: 8px;
  .appSubtleScrollbar();
}

.section + .section {
  margin-top: 24px;
}

.sectionTitle {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.clauseList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0 0;
  padding-left: 24px;
}

.subclauseList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  padding-left: 28px;
}
